<%- include header%>
<% posts.forEach(function(post, index){ %>

<p>
  <h2>
    <a href="/u/<%= post.username %>/<%= post.time.day %>/<%= post.title%>"><%= post.title %></a>
  </h2>
    <a href="/u/<%= post.username %>"><img src="<%= post.head %>" alt="" class="r_head"/></a>
</p>

<p class="info">
  Author: <a href="/u/<%= post.username %>"><%= post.username %></a>
  Date: <%= post.time.minute %>
  Tags:
  <% if (post.tags) { %>
  <% post.tags.forEach(function(tag, index) { %>
    <% if (tag) { %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
  <% }) } %>


</p>

<p><%- post.post %></p>
<p class="info">Read: <%= post.pv %> |

  <% if (post.comments) { %>
  Comments: <%= post.comments.length%>
  <% } %>


</p>
<% }) %>


<%- include paging %>
<%- include footer %>
